@import '../../../style.scss';

.pageLivreurDetail{
    @include mobileXR{
        background: #fff;
        margin: auto;
    }
    .pageLivreurDetail-wrapper{
        @include mobileXR{
            padding: 20px;
        }
        .img-page-livreur{
            @include mobileXR{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
        .pageLivreurDetail-rows{
            @include mobileXR{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .pageLivreur-name{
                @include mobileXR{
                    color: #555;
                    padding: 10px 0;
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
    }
}