.pageDetails{
    .pageDetail-wrapper{
        .pageDetail-container{
            display: flex;
            justify-content: space-between;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            padding: 30px;
            border-radius: 5px;
            .pageDetail-left{
                flex: 1;
                .pageDetail-left-wrapper{
                    padding: 30px 0;
                    h2{
                        color: rgb(3, 3, 109);
                        font-weight: bolder;
                        padding: 20px 0;
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                    }
                }

            }
            .pageDetail-right{
                flex: 1;
                .pageDetail-h2{
                    font-size: 3rem;
                    font-weight: bolder;
                }
                .pagedetailDescr{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    span{
                        font-size: 1rem;
                    }
                    a{
                        color: rgb(161, 161, 161);
                        font-size: .9rem;
                    }
                }
                .pageEtoile-row{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 20px 0;
                    a{
                        color: rgb(161, 161, 161);
                        font-size: .9rem;
                    }
                }
                .pageDetail-bottom{
                    border-top: 1px solid rgb(170, 170, 170);
                    border-bottom: 1px solid rgb(180, 179, 179);
                    .pageDetail-rows-prix{
                        padding: 25px 0;
                        h3{
                            font-size: 1rem;
                            color: rgb(150, 150, 150);
                            letter-spacing: 1.5;
                            font-weight: 300;
                        }
                        .pageDetail-images{
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            .pageDetail-sous-image{
                                height: 90px;
                                width: 75px;
                            }
                            .pageDetail-select{
                                width: 200px;
                                padding: 10px;
                                border: 1px solid rgb(233, 233, 233);
                                border-radius: 5px;
                                outline: none;
                            }
                        }
                    }
                }
                .pageDetail-rows-prix{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px 0;
                    .pageDetail-row-prix{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h3{
                            color: rgb(3, 3, 109);
                            font-size: 3rem;
                        }
                        span{
                            font-size: .9rem;
                            color: rgb(138, 138, 138);
                        }
                    }
                    .pageDetail-row-Qt{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .pageDetail-rows-Qt{
                            flex: 1;
                            display: flex;
                            span{
                                flex: 2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 1px solid rgb(214, 214, 214);
                            }
                            .rowQT{
                                flex: 1;
                                display: flex;
                                flex-direction: column;
                                border: 1px solid rgb(214, 214, 214);
                                span{
                                    border: 1px solid rgb(236, 236, 236);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    cursor: pointer;
                                }
                            }
                        }
                        button{
                            flex: 4;
                            border: none;
                            padding: 15px;
                            background: rgba(2, 2, 129, 0.925);
                            color: #fff;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: .5s;
                            &:hover{
                                background: rgba(9, 9, 209, 0.925);
                            }

                        }
                    }
                }
            }
        }
    }
}