.varianteProduit{
    .varianteProduit-wrapper{
        .varianteProduit-container-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            padding: 20px;
            border-radius: 5px;
            .varianteProduit-left{
                
                .varianteProduit-h2{
                    font-size: 1rem;
                    color: rgb(1, 35, 138);
                }
                span{
                    font-size: .8rem;
                    color: #6d6c6c;
                }
            }
        }
        .variant-container-bottom{
            width: 100%;
            background: #fff;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
            padding: 20px;
            border-radius: 5px;
            .variant_top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .variant-top-left{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .variant-top-row{
                        .variant-icon{
                            font-size: 1rem;
                            color: #6d6c6c;
                        }
                        span{
                            font-size: 1rem;
                            color: #6d6c6c;
                        }
                    }
                    .variant-select{
                        width: 150px;
                    }
                }
            }
            .variant_bottom{
                width: 100%;
                margin-top: 40px;
                .variante-top-rows{
                    width: 100%;
                    position: relative;
                    display: flex;
                    gap: 10px;
                    flex-wrap:wrap;
                    .variante-top-row{
                        position: relative;
                        flex: 1.5;
                        width: 100%;
                        background: red;
                        .variante-img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}