@import '../../../style.scss';

.pageLivreurVente{
    @include mobileXR{
        
    }
    .pageLivreurVente-container{
        @include mobileXR{
            padding: 20px;
            h1{
                font-size: 1.5rem;
                color: rgb(3, 3, 109);
                padding: 20px 0;
            }
        }
        .pageLivreur-call{
            @include mobileXR{
                padding: 20px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                .pageLivreur-call-row{
                    background: #fff;
                    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 30px;
                    border-radius: 5px;
                    border: 1px solid rgba(3, 3, 109, 0.171);
                    .pageLivreur-icon{
                        font-size: 2.1rem;
                        color: rgb(3, 3, 109);
                    }
                    .icon-whatsapp{
                        color: green;
                    }
                }
            }
        }
        .page-rows-top{
            @include mobileXR{
                margin: 20px 0;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }
            .page-row-top{
                @include mobileXR{
                    background: #fff;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    padding: 20px;
                    border: 1px solid rgba(3, 3, 109, 0.171);
                    border-radius: 5px;
                    cursor: pointer;
                    -webkit-box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                    box-shadow: 0px 0px 15px -10px rgba(0,0,0,0.75);
                }
                .page-icon{
                    @include mobileXR{
                        font-size: 2.1rem;
                        color: rgb(3, 3, 109);
                    }
                }
                .page-top-desc{
                    @include mobileXR{
                        font-size: 1.2rem;
                        color: rgb(3, 3, 109);
                    }
                }
            }
        }
        .rowChart-row-table{
            .userList{
                .userImg{
                    @include mobileXR{
                        position: relative;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
    
                    }
                }
            }
        }
        .pageLivreur_submit{
            display: flex;
            flex-direction: column;
            gap: 15px;
            label{
                @include mobileXR{
                    font-size: .9rem;
                    color: #555;
                }
            }
            h2{
                @include mobileXR{
                    font-size: 1.5rem;
                    color: rgb(3, 3, 109);
                }
            }
            .pageLivreur-input{
                width: 100%;
                border: 1px solid #555;
                padding: 10px ;
                outline: none;
                &:hover{
                    border: 1px solid rgba(105, 140, 247, 0.801);
                }
            }
        }
        .pageLivreur-form-rows{
            padding: 20px 0;
            @include mobileXR{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }
            .pageLivreur-form-row{
                display: flex;
                flex-direction: column;
                gap: 10px;
                label{
                    @include mobileXR{
                        font-size: .9rem;
                        color: #555;
                    }
                }
                .page-select{
                    @include mobileXR{
                        width: 100%;
                        border: 1px solid #555;
                        padding: 10px ;
                    }
                }
                textarea{
                    @include mobileXR{
                        width: 100%;
                        border: 1px solid #555;
                        padding: 10px ;
                        resize: none;
                    }
                }
            }
            .pageLivreur-btn{
                border: none;
                padding: 10px;
                background:rgba(1, 35, 138, 0.952);
                color: #fff;
                &:hover{
                    border: 1px solid rgba(1, 35, 138, 0.952);
                    background: transparent;
                    color: rgba(1, 35, 138, 0.952);
                }
            }
        }
    }
}