@import '../../style.scss';

.informationJour{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;

    .info-row{
        padding: 20px;
        background: #fcfcfc;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        border: 1px solid #c2c2c2bb;
        span{
            font-size: 15px;
            font-weight: 700;
            color: rgba(1, 35, 138, 0.952);
        }
    }
}